.b-main {
  margin-bottom: 100px;
  &__title {
    background-color: #fdfce5;
    border-top: 1px solid #d9d9d7;
    border-bottom: 1px solid #d9d9d7;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 8px 3px;
  }
  .submit-area{
    margin-bottom: 100px;
  }
}

