<header class="b-header">
    <div class="container clearfix">
        <nav class="b-header__main-nav" role="navigation">
            <ul class="b-header__nav clearfix">
                <li class="b-header__nav-item">
                    <a ui-sref="dashboard">Übersicht</a>
                </li>
                <li class="b-header__nav-item">
                    <a ui-sref="register">Benutzerverwaltung</a>
                </li>
                <!--<li class="b-header__nav-item b-header__nav-dropdown">
                    <a href="https://www.europace2.de/baufiSmart/">Neuer BaufiSmart-Vorgang</a>
                </li>
                <li class="b-header__nav-item b-header__nav-dropdown">
                    <a href="https://www.europace2.de/kreditsmart/?datenkontext=echtgeschaeft">Neuer
                        KreditSmart-Vorgang</a>
                </li>
                <li class="b-header__nav-item">
                    <a href="https://www.europace2.de/vorgangsmanagement/">Vorgangsmanagement</a>
                </li>-->
            </ul>
        </nav>
        <nav class="b-header__links-nav" role="navigation">
            <ul class="b-header__nav clearfix">
                <li class="b-header__nav-item b-header__links-search">
                    <a class="search" ng-click='toggleModal()'></a>
                </li>
                <!--<li class="b-header__nav-item">
                    <a href="#">Links</a>
                </li>-->
                <li class="b-header__nav-item">
                    <a href="#">Schließen</a>
                </li>
                <li class="b-header__nav-item b-header__links-user">
                    <a href="#"></a>
                </li>
            </ul>
        </nav>
        <div class="b-header__logo clearfix">
            <a ui-sref="dashboard" class="b-header__logo-link">
                <img class="b-header__logo-image" src="content/images/logo.png" alt="Ultima">
            </a>
        </div>
    </div>

    <modal-dialog show='modalShown' height='90%'>
        <div class="search-block">
            <form action="" method="get">
                <div class="b-form__search">
                    <img src="content/images/icons/search.png" alt="search">
                    <input type="text" ng-model="searchText"
                           placeholder="Vorgänge suchen (Name, Vorgangsnummer, Telefonnummer, E-Mail, Anschrift ...)">
                </div>
            </form>
            <div class="b-form__results">
                <table class="b-form__results-table">
                    <thead>
                    <tr>
                        <th class="first">Vorgans-nummer</th>
                        <th>Name Antragsteller</th>
                        <th>Anschrift Immobilie</th>
                        <th>Kundenbetreuer</th>
                        <th>Bearbeiter</th>
                        <th>Letztes Ereignis</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.users | filter:searchText">
                        <td class="column-number-op first">
                            <img src="content/images/icons/singl_home.png" alt="">
                            <span class="number-op">{{item.id}}</span>
                        </td>
                        <td><p>{{item.nameW}}</p>
                            <p>{{item.nameH}}</p></td>
                        <td>{{item.addres}}</td>
                        <td class="manager">
                            <img src="content/images/icons/user.png" alt="">
                            <p>{{item.manager}}</p>
                            <p>Ultima GmbH</p>
                        </td>
                        <td class="manager">
                            <img src="content/images/icons/user.png" alt="">
                            <div>
                                <p>{{item.addres}}</p>
                                <p class="company">Ultima GmbH</p>
                            </div>
                        </td>
                        <td>{{item.event}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </modal-dialog>

</header>
<main class="b-main">
    <!--<h2 class="b-main__title">TESTUMGEBUNG</h2>-->

    <div class="container">
        <div class="b-tabs information clearfix">
            <div class="b-tabs__block-left">
                <div class="b-form__title-dark b-form__title">Zuletzt bearbeitete Vorgänge</div>
                <div class="b-form__block">
                    <span class="b-form__checkbox">
                        <input name="notify" id="notify" type="checkbox">
                        <label for="notify">friedrich@ultima.de per E-mail über neue Ereignisse benachrichtigen</label>
                    </span>

                    <div class="b-tabs__table-info">
                        <div class="block-table">
                            <table>
                                <tbody>
                                <tr ng-repeat="item in vm.users track by $index"
                                    ng-show="!($index % 2);"
                                    ui-sref="index({id: item.FamilyMemId})">
                                    <td><img src="content/images/icons/singl_home.png" alt=""></td>
                                    <td><a href="">{{item.FamilyMemSecondName}}</a></td>
                                    <!--<td>{{item.id}}</td>-->
                                    <td>{{item.FamilyMemDate | date:"MM.dd.yyyy"}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-tabs__block-right">
                <div class="b-form__title-dark b-form__title">Neuer Vorgang</div>
                <div class="b-form__block">
                    <!--<div class="b-tabs__text">Testumgebung: Vorgänge können nicht abgeschlossen werden!</div>-->
                    <div class="b-tabs__table-info">
                        <span class="b-form__input">
                            <label for="usage">Verwendungszweck</label>
                            <select id="usage">
                                <!--<option value="-1" selected="selected">Bitte wählen Sie ...</option>-->
                                <option value="1" selected="selected">Ratenkredit</option>
                                <option value="2">Baufinanzierung</option>
                            </select>
                        </span>
                        <div class="b-form__child-item">
                            <h4>Wie wird die lmmobilie genutzt?</h4>
                            <span class="b-form__radio">
                                <input name="eigennutzung" id="eigennutzung" type="radio" value="Eigennutzung"
                                       ng-model="vm.data.genutzt">
                                <label for="eigennutzung">Eigennutzung</label>
                            </span>
                            <span class="b-form__radio">
                                <input name="vermietet" id="vermietet" type="radio" value="Vermietet"
                                       ng-model="vm.data.genutzt">
                                <label for="vermietet">Vermietet</label>
                            </span>
                            <span class="b-form__radio">
                                <input name="beides" id="beides" type="radio" value="Beides" ng-model="vm.data.genutzt">
                                <label for="beides">Beides</label>
                            </span>
                            <span class="b-form__input">
                                <label for="plz">PLZ</label>
                                <input id="plz" type="text">
                            </span>
                            <span class="b-form__input b-form__euro">
                                <label for="finanzbedarf">Finanzbedarf</label>
                                <input id="finanzbedarf" type="text">
                            </span>
                        </div>
                        <span class="b-form__input">
                            <label for="werbung">Werbung</label>
                            <select id="werbung">
                                <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                <option value="1">Verheiratet</option>
                               <option value="2">Horst</option>
 <option value="3">Bild</option>
 <option value="4">Mailing</option>
 <option value="5">Empfehlung</option>
 <option value="6">Internet</option>
 <option value="7">Promotion</option>
 <option value="8">Morgenpost</option>
 <option value="9">Kiel</option>
                                <option value="10">Schnellantrag</option>


                            </select>
                        </span>
                        <span class="b-form__input">
                            <label for="property">Kontaktart</label>
                            <select id="property">
                                <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                <option value="1">E-Mail</option>
                                <option value="2">telefonisch</option>
                                <option value="3">per Post</option>
                                <option value="4">direkt</option>
                                <option value="5">Internet</option>
                            </select>
                        </span>
                        <div class="b-form__child-item">
                            <h4>Partnergeschäft</h4>
                            <span class="b-form__radio">
                                    <input value="0" id="nein" type="radio">
                                    <label for="nein">nein</label>
                                </span>
                            <span class="b-form__radio">
                                    <input value="1" id="ja" type="radio">
                                    <label for="ja">ja</label>
                                </span>
                            <select id="partners">
                                <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                <option value="1">Michael Tauchert </option>
                                <option value="2">Hermann Kahlke</option>
                                <option value="3">Volker Schwarz</option>
                                <option value="4">Arne Nöthling</option>
                                <option value="5">Friedegunde Wilhelm</option>
                            </select>
                        </div>
                        <div class="b-form__child-item">

                            <div class="b-form__title-btn b-form__title">
                                <div class="b-form__right-list">
                                    <div class="btn btn--light" ui-sref="index">Neuer Vorgang</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--<footer>
    <div class="b-footer">
        <div class="container">
            <ul class="b-footer__nav clearfix">
                <li class="b-footer__nav-item b-footer__nav-bell">Ereignisse</li>
                <li class="b-footer__nav-item b-footer__nav-doc">Dokumente</li>
                <li class="b-footer__nav-item b-footer__nav-check">Checkliste</li>
                <li class="b-footer__nav-item b-footer__nav-user">Vorgang: 281883</li>
            </ul>
        </div>
    </div>
    <div class="b-copy-right container text-right">
        &copy; Hypoport 2017
    </div>
</footer>-->
