<header class="b-header">
    <div class="container clearfix">
        <nav class="b-header__main-nav" role="navigation">
            <ul class="b-header__nav clearfix">
                <li class="b-header__nav-item">
                    <a target="_blank" href="https://www.europace2.de/uebersicht/">Übersicht</a>
                </li>
                <li class="b-header__nav-item b-header__nav-dropdown">
                    <a target="_blank" href="https://www.europace2.de/baufiSmart/">Neuer BaufiSmart-Vorgang</a>
                </li>
                <li class="b-header__nav-item b-header__nav-dropdown">
                    <a target="_blank" href="https://www.europace2.de/kreditsmart/?datenkontext=echtgeschaeft">Neuer
                        KreditSmart-Vorgang</a>
                </li>
                <li class="b-header__nav-item">
                    <a target="_blank" href="https://www.europace2.de/vorgangsmanagement/">Vorgangsmanagement</a>
                </li>
            </ul>
        </nav>
        <nav class="b-header__links-nav" role="navigation">
            <ul class="b-header__nav clearfix">
                <li class="b-header__nav-item b-header__links-search">
                    <a class="search" href="#"></a>
                </li>
                <li class="b-header__nav-item">
                    <a href="#">Links</a>
                </li>
                <li class="b-header__nav-item">
                    <a href="#">Schließen</a>
                </li>
                <li class="b-header__nav-item b-header__links-user">
                    <a href="#"></a>
                </li>
            </ul>
        </nav>
        <div class="b-header__logo clearfix">
            <a href="/" class="b-header__logo-link">
                <img class="b-header__logo-image" src="content/images/logo.png" alt="Ultima">
            </a>
        </div>
    </div>
</header>
<main class="b-main">
    <h2 class="b-main__title">TESTUMGEBUNG</h2>

    <div class="container">
        <div class="b-tabs">
            <ul class="b-tabs__titles clearfix">
                <li class="b-tabs__titles-item b-tabs__big-user" ui-sref="index"><span>ANTRAGSTELLER</span>
                </li>
                <li class="b-tabs__titles-item b-tabs__home" ui-sref="second"><span>IMMOBILIE</span></li>
                <li class="b-tabs__titles-item b-tabs__titles-item--current b-tabs__home-bank" ui-sref="third"><span>KREDIT-DATEN</span>
                </li>
            </ul>
            <div class="b-tabs__container">
                <div class="b-form__title-dark b-form__title">Anträge/Anfragen</div>
                <div class="first_form clearfix">
                    <div class="b-form__block">
                        <div class="b-form__group b-form__fields clearfix"
                             ng-repeat="item in vm.anfArrA">
                            <span class="b-form__input">
                                <label for="editor">Bearbeiter</label>
                                <input id="editor" type="text">
                            </span>
                            <span class="b-form__input b-form__input-middle">
                                <label for="date_created">erstellt am</label>
                                <input id="date_created" type="text">
                            </span>
                            <span class="b-form__input b-form__input-middle">
                                <label for="date_printed">SA gedruckt</label>
                                <input id="date_printed" type="text">
                            </span>
                            <span class="b-form__input b-form__input-short">
                                <label for="status">SA Status</label>
                                <input id="status" type="text">
                            </span>
                            <span class="b-form__input">
                                <label for="purpose">Zweck</label>
                                <input id="purpose" type="text">
                            </span>
                            <span class="b-form__checkbox">
                                <label for="declined">abgelehnt</label>
                                <input name="abgelehnt" id="declined" type="checkbox">
                            </span>
                            <span class="b-form__checkbox">
                                <label for="billed" class="label_billed">abgerechnet</label>
                                <input name="abgerechnet" id="billed" type="checkbox">
                            </span>
                            <span class="b-form__input b-form__input-middle">
                                <label for="some_date"></label>
                                <input id="some_date" type="text">
                            </span>
                            <span class="b-form__input b-form__input-short">
                                <label for="requests">Anfragen</label>
                                <input id="requests" type="text">
                            </span>
                            <span class="b-form__checkbox">
                                <label for="cancellation">Storno</label>
                                <input name="storno" id="cancellation" type="checkbox">
                            </span>
                        </div>

                    </div>

                </div>
                <div class="second_form child-form">
                    <div class="b-form__block">
                        <button class="btn btn--light mr-10" ng-click="vm.addA()">Neuer Antrag/Anfrage</button>
                        <div class="b-form__group b-form__child b-form__single">
                            <ul class=" b-form__list b-form__left-list">
                                <li class="b-form__list-item">
                                    <div class="b-form__group b-buy b-buy-single">
                                        <div class="b-buy__item b-buy__name">
                                    <span class="b-form__input">
                                        <label for="new_orders">Auftragseingang</label>
                                        <select id="new_orders" ng-model="vm.tmpArr.auftragseingang">
                                            <option value="Bitte wählen Sie ..." selected="selected">Bitte wählen Sie ...</option>
                                            <option value="Haus">Haus</option>
                                            <option value="Post">Post</option>
                                            <option value="Homepage">Homepage</option>
                                            <option value="Email">Email</option>
                                        </select>
                                    </span>
                                        </div>
                                        <div class="b-buy__item b-buy__bet">
                                    <span class="b-form__input b-form__euro">
                                        <label for="wish">Wunsch</label>
                                        <input ng-model="vm.tmpArr.wunsch" id="wish" type="text">
                                    </span>
                                        </div>
                                        <div class="b-buy__item b-buy__begin">
                                    <span class="b-form__input">
                                        <label for="date">Datum</label>
                                        <input ng-model="vm.tmpArr.datum" id="date" type="text">
                                    </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="b-form__group" ng-repeat="item in vm.anfArrB">
                            <div class="b-form__group-child">
                                <span class="text-title">{{item.auftragseingang}}</span>
                                <span class="text-title">{{item.anfrageabgelehnt}}</span>
                                <span class="b-form__radio">
                                    <input ng-model="item.reason" name="test" value="offen" id="offen" type="radio">
                                    <label for="offen">offen</label>
                                </span>
                                <span class="b-form__radio">
                                    <input ng-model="item.reason" name="test" value="angefragt" id="requested"
                                           type="radio">
                                    <label for="requested">angefragt</label>
                                </span>
                                <span class="b-form__radio">
                                    <input ng-model="item.reason" name="test" value="genehmigt" id="approved"
                                           type="radio">
                                    <label for="approved">genehmigt</label>
                                </span>
                                <span class="b-form__radio">
                                    <input ng-model="item.reason" name="test" value="abgelehnt" id="declined"
                                           type="radio">
                                    <label for="declined">abgelehnt</label>
                                </span>
                                <span class="b-form__radio">
                                    <input ng-model="item.reason" name="test" value="Storno" id="cancellation"
                                           type="radio">
                                    <label for="cancellation">Storno</label>
                                </span>
                            </div>
                            <div class="b-form__group-child">
                                <span class="text-title">CTB Braunschweig</span>
                                <span class="b-form__input b-form__input-middle">
                                    <label for="some_date"></label>
                                    <input ng-model="item.fieldOne" id="some_date" type="text">
                                </span>
                                <span class="b-form__input b-form__input-middle">
                                    <label for="some_date"></label>
                                    <input ng-model="item.fieldTwo" id="some_date" type="text">
                                </span>
                                <span class="b-form__input b-form__input-middle">
                                    <label for="some_date"></label>
                                    <input ng-model="item.fieldThree" id="some_date" type="text">
                                </span>
                                <span class="b-form__input b-form__input-large">
                                    <select ng-model="item.fieldFour" id="select">
                                        <option value="nicht abgelehn" selected="selected">nicht abgelehnt</option>
                                        <option value="Haus">Haus</option>
                                        <option value="Post">Post</option>
                                        <option value="Homepage">Homepage</option>
                                        <option value="Email">Email</option>
                                    </select>
                               </span>
                                <span>Wiedervorlage:</span>
                                <span class="b-form__input b-form__input-middle">
                                    <label for="date_template"></label>
                                    <input ng-model="item.wiedervorlage" id="date_template" type="text">
                                </span>
                            </div>
                            <div class="b-form__group-child b-form__group-child-last">
                                <span class="text-title">Betrag:</span>
                                <span class="sum">{{item.betrag}} EUR</span>
                            </div>
                            <div class="b-buy__item b-buy__options delete-area">
                                <span class="b-form__input">
                                    <label for="date">&nbsp;</label>
                                    <img src="content/images/icons/trash_basket.png"
                                         class="btn btn__trash btn--light"
                                         ng-click="vm.removeItem(vm.anfArrB, item)">
                                </span>
                            </div>
                        </div>

                        <div class="b-form__block-select">
                            <button class="btn btn--light mr-10" ng-click="vm.addB()">Neue Anfrage</button>
                        </div>
                    </div>
                </div>
                <div class="b-form__title-dark b-form__title">
                    <span>Finanzierungswunsch</span>
                    <div class="b-form__loans">
                        <label for="loans">Noch benötigte Darlehen: </label>
                        <span class="b-form__euro">
                            <input id="loans" type="text">
                        </span>
                    </div>
                </div>
                <div class="b-request b-third_form">
                    <div class="b-form__title-btn b-form__title">
                        <select id="financing" class="btn btn--light mr-10">
                            <option value="-1" selected="selected">Finanzierungsbaustein hinzufügen</option>
                            <option value="1">Haus</option>
                            l
                            <option value="2">Post</option>
                            <option value="4">Homepage</option>
                            <option value="5">Email</option>
                        </select>
                    </div>
                    <div class="b-form__block b-main clearfix">
                        <div class="b-request__block">
                            <div class="b-request__section">
                                <p class="b-request__title">Baudarlehen</p>
                                <p>
                                    <a href="">Annuitätendarlehen</a>
                                </p>
                                <div class="dropdown">
                                    <span ng-click="vm.myFunction()" class="dropbtn">KfW</span>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a ng-click="vm.addItem(vm.kfw[0])" multiple>KfW Wohneigentumsprogramm</a>
                                        <a ng-click="vm.addItem(vm.kfw[1])">KfW Energieeffizient Sanieren (Kauf order Komplettsanierung (151))</a>
                                        <a ng-click="vm.addItem(vm.kfw[2])">KfW Energieeffizient Sanieren (Einzelmaßnahmen (152))</a>
                                        <a ng-click="vm.addItem(vm.kfw[3])">KfW Energieeffizient Sanieren (Heizungsanlagen Eeneuerbare Energien (167))</a>
                                        <a ng-click="vm.addItem(vm.kfw[4])">KfW Energieeffizient Bauen (Effizienzhaus 40 Plus (153))</a>
                                        <a ng-click="vm.addItem(vm.kfw[5])">KfW Energieeffizient Bauen (Effizienzhaus 40 (153))</a>
                                        <a ng-click="vm.addItem(vm.kfw[6])">KfW Energieeffizient Bauen (Effizienzhaus 55 (153))</a>
                                        <a ng-click="vm.addItem(vm.kfw[7])">KfW Wohnraum Modernisieren (Altersgerecht Umbauen(159))</a>
                                    </div>
                                </div>
                            </div>
                            <div class="b-request__section">
                                <p class="b-request__title">Forwarddarlehen</p>
                                <p><a href=""
                                      ng-click="vm.addForwarddarlehen()">Forwarddarlehen</a></p>
                            </div>
                            <div class="b-request__section">
                                <p class="b-request__title">Sonstige Darlehen</p>
                                <p><a href="" ng-click="vm.addPrivatdarlehen()">Privatdarlehen</a></p>
                                <p><a href="">Variables Darlehen</a></p>
                            </div>
                            <div class="b-request__section">
                                <p class="b-request__title">Bausparangebote</p>
                                <p><a href="">zur Zinsabsicherung</a></p>
                            </div>
                        </div>
                    </div>
                    <!--Annuitätendarlehen-->
                    <div class="b-form__block b-form__fields clearfix"
                         ng-repeat="item in vm.someInfo.finanzierungswunsch.baudarlehen.annuitatendarlehen.items track by $index">
                        >
                        <span class="b-request__title">Annuitätendarlehen</span>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input b-form__year b-form__input-middle">
                                <label for="fixed_rate">Zinsbindung</label>
                                <input id="fixed_rate" type="text">
                            </span>
                        <span class="b-form__input">
                                <label for="repayment_r">Tilgungswunsch</label>
                                <select id="repayment_r">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">2%</option>
                                    <option value="2">3%</option>
                                    <option value="4">5%</option>
                                    <option value="5">6%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-form__percent b-form__input-middle">
                                <label for="unscheduled">Sondertilgung</label>
                                <input id="unscheduled" type="text">
                            </span>
                        <span class="b-form__input b-form__input-middle">
                                <label for="time">Bereitstellungszinsfreie Zeit</label>
                                <input id="time" type="text">
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png" class="btn btn__trash btn--light">
                            </span>
                    </div>
                    <!--end-->

                    <!--KfW-->
                    <div ng-repeat="item in vm.kfw[0].items" class="b-form__block b-form__fields clearfix">
                        <div class="b-request__title">
                            <p>KfW Wohneigentumsprogramm</p>
                            <p><a href="">Selbstgenutztes Eigentum (124) <img src="content/images/icons/link.png"></a></p>
                        </div>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input years">
                                <label for="ownership_select">Laufzeit/Zinsbindung/Tilgungsfrei</label>
                                <select id="ownership_select">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">25 LZ/ 10 ZB/ 1TA</option>
                                    <option value="2">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="4">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="5">10 LZ/ 10 ZB/ 1TA%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.kfw[0], item)">
                            </span>
                    </div>
                    <div ng-repeat="item in vm.kfw[1].items" class="b-form__block b-form__fields clearfix">
                        <div class="b-request__title">
                            <p>KfW Energieeffizient Sanieren</p>
                            <p><a href="">Kauf order Komplettsanierung (151) <img src="content/images/icons/link.png"></a></p>
                        </div>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input years">
                                <label for="energy_efficiency">Laufzeit/Zinsbindung/Tilgungsfrei</label>
                                <select id="energy_efficiency">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">25 LZ/ 10 ZB/ 1TA</option>
                                    <option value="2">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="4">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="5">10 LZ/ 10 ZB/ 1TA%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.kfw[1], item)">
                            </span>
                    </div>
                    <div ng-repeat="item in vm.kfw[2].items" class="b-form__block b-form__fields clearfix">
                        <div class="b-request__title">
                            <p>KfW Energieeffizient Sanieren</p>
                            <p><a href="">Einzelmaßnahmen (152) <img src="content/images/icons/link.png"></a></p>
                        </div>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input years">
                                <label for="measures">Laufzeit/Zinsbindung/Tilgungsfrei</label>
                                <select id="measures">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">25 LZ/ 10 ZB/ 1TA</option>
                                    <option value="2">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="4">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="5">10 LZ/ 10 ZB/ 1TA%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.kfw[2], item)">
                            </span>
                    </div>
                    <div ng-repeat="item in vm.kfw[3].items" class="b-form__block b-form__fields clearfix">
                        <div class="b-request__title">
                            <p>KfW Energieeffizient Sanieren</p>
                            <p><a href="">Heizungsanlagen Eeneuerbare Energien (167) <img src="content/images/icons/link.png"></a></p>
                        </div>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input years">
                                <label for="heating_systems">Laufzeit/Zinsbindung/Tilgungsfrei</label>
                                <select id="heating_systems">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">25 LZ/ 10 ZB/ 1TA</option>
                                    <option value="2">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="4">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="5">10 LZ/ 10 ZB/ 1TA%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.kfw[3], item)">
                            </span>
                    </div>
                    <div ng-repeat="item in vm.kfw[4].items" class="b-form__block b-form__fields clearfix">
                        <div class="b-request__title">
                            <p>KfW Energieeffizient Bauen</p>
                            <p><a href="">Effizienzhaus 40 Plus (153) <img src="content/images/icons/link.png"></a></p>
                        </div>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input years">
                                <label for="effizienzhaus_40_plus">Laufzeit/Zinsbindung/Tilgungsfrei</label>
                                <select id="effizienzhaus_40_plus">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">25 LZ/ 10 ZB/ 1TA</option>
                                    <option value="2">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="4">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="5">10 LZ/ 10 ZB/ 1TA%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.kfw[4], item)">
                            </span>
                    </div>
                    <div ng-repeat="item in vm.kfw[5].items" class="b-form__block b-form__fields clearfix">
                        <div class="b-request__title">
                            <p>KfW Energieeffizient Bauen</p>
                            <p><a href="">Effizienzhaus 40 (153) <img src="content/images/icons/link.png"></a></p>
                        </div>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input years">
                                <label for="effizienzhaus_40">Laufzeit/Zinsbindung/Tilgungsfrei</label>
                                <select id="effizienzhaus_40">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">25 LZ/ 10 ZB/ 1TA</option>
                                    <option value="2">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="4">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="5">10 LZ/ 10 ZB/ 1TA%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.kfw[5], item)">
                            </span>
                    </div>
                    <div ng-repeat="item in vm.kfw[6].items" class="b-form__block b-form__fields clearfix">
                        <div class="b-request__title">
                            <p>KfW Energieeffizient Bauen</p>
                            <p><a href="">Effizienzhaus 55 (153) <img src="content/images/icons/link.png"></a></p>
                        </div>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input years">
                                <label for="effizienzhaus_55">Laufzeit/Zinsbindung/Tilgungsfrei</label>
                                <select id="effizienzhaus_55">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">25 LZ/ 10 ZB/ 1TA</option>
                                    <option value="2">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="4">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="5">10 LZ/ 10 ZB/ 1TA%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.kfw[6], item)">
                            </span>
                    </div>
                    <div ng-repeat="item in vm.kfw[7].items" class="b-form__block b-form__fields clearfix">
                        <div class="b-request__title">
                            <p>KfW Wohnraum Modernisieren</p>
                            <p><a href="">Altersgerecht Umbauen(159) <img src="content/images/icons/link.png"></a></p>
                        </div>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input years">
                                <label for="age_rebuilding">Laufzeit/Zinsbindung/Tilgungsfrei</label>
                                <select id="age_rebuilding">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">25 LZ/ 10 ZB/ 1TA</option>
                                    <option value="2">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="4">30 LZ/ 10 ZB/ 1TA%</option>
                                    <option value="5">10 LZ/ 10 ZB/ 1TA%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.kfw[7], item)">
                            </span>
                    </div>

                    <!--end-->

                    <!--for Privatdarlehen-->
                    <div class="b-form__block b-form__fields clearfix"
                         ng-repeat="item in vm.privatdarlehen">
                        <div class="b-request__title">
                            <p>Privatdarlehen</p>
                        </div>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input b-form__months b-form__input-middle">
                                <label for="running_time">Laufzeit</label>
                                <input id="running_time" type="text">
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="../content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.privatdarlehen, item)">
                            </span>
                    </div>
                    <div class="b-form__block b-form__group-child clearfix">
                        <div class="b-form__block-select">
                            <span class="text-title">Bank:</span>
                            <span class="b-form__input b-form__input-large">
                                        <select id="bank">
                                            <option value="-1" selected="selected">DSL Bank</option>
                                            <option value="1">Haus</option>
                                            <option value="2">Post</option>
                                            <option value="4">Homepage</option>
                                            <option value="5">Email</option>
                                        </select>
                                    </span>
                        </div>
                        <div class="block-left">
                            <div class="b-form__wrap-box clearfix">
                                <div class="b-form__group-text">
                                    <span class="text-title">Kreditbetrag:</span>
                                    <span class="text-title">EUR</span>
                                </div>
                                <span class="b-form__input">
                                        <input id="loan_amount" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Restchuldversicherung</span>
                                <span class="b-form__checkbox">
                                        <label for="eur">EUR</label>
                                        <input name="eur" id="eur" type="checkbox">
                                    </span>
                                <span class="text-title">AU</span>
                                <span class="b-form__input">
                                        <input id="insurance" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Vermittlungscourtage %</span>
                                <span class="b-form__input">
                                        <input id="commission" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Vermittlungscourtage EUR</span>
                                <span class="b-form__input">
                                        <input id="commission_eur" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Antragssumme:</span>
                                <span class="b-form__input">
                                        <input id="sum" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Kreditgebühren Nominalzins %</span>
                                <span class="b-form__input">
                                        <input id="loan_fees" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Zinsbelastung</span>
                                <span class="text-title">EUR</span>
                                <span class="b-form__input">
                                        <input id="interest_charges" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Gesamtkreditbetrag</span>
                                <span class="text-title">EUR</span>
                                <span class="b-form__input">
                                        <input id="total_sum" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Laufzeit in Monaten</span>
                                <span class="b-form__input">
                                        <input id="duration" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Erste Rate EUR</span>
                                <span class="b-form__input">
                                        <input id="first_rate" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Erste Rate Datum</span>
                                <span class="b-form__input">
                                        <input id="first_rate_date" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Monatliche Rate:</span>
                                <span class="b-form__input">
                                        <input id="monthly_rate" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Letzte Rate</span>
                                <span class="b-form__input">
                                        <input id="last_rate" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Letzte Rate Datum:</span>
                                <span class="b-form__input">
                                        <input id="last_rate_date" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Effektiver Jahreszins %:</span>
                                <span class="b-form__input">
                                        <input id="interest_rate" type="text">
                                    </span>
                            </div>

                        </div>
                        <div class="block-right">
                                <span class="b-form__input b-form__input-large">
                                    <label for="contract_number">Vertragsnummer:</label>
                                    <input id="contract_number" type="text">
                                </span>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">packing %:</span>
                                <span class="b-form__input">
                                        <input id="packing" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">packing EUR</span>
                                <span class="b-form__input">
                                        <input id="packing_eur" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Provision Bank:</span>
                                <span class="b-form__input">
                                        <input id="commission " type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Provision Restschuldversicherung %:</span>
                                <span class="b-form__input">
                                        <input id="insurance_cover" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Provision Restschuldversicherung EUR:</span>
                                <span class="b-form__input">
                                        <input id="insurance_cover_eur" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Gesamtprovision EUR:</span>
                                <span class="b-form__input">
                                        <input id="total_commission" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                <span class="text-title">Provision Berater EUR:</span>
                                <span class="b-form__input">
                                        <input id="commission_consultants" type="text">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                   <span class="b-form__checkbox">
                                       <label for="cash">Barauszahlung</label>
                                       <input name="barauszahlung" id="cash" type="checkbox">
                                    </span>
                            </div>
                            <div class="b-form__wrap-box clearfix">
                                   <span class="b-form__input input-remarks">
                                       <label for="remarks" class="remarks">Bemerkungen:</label>
                                       <textarea id="remarks" rows="8"></textarea>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <!--end-->

                    <!--Variables Darlehen-->
                    <div class="b-form__block b-form__fields clearfix"
                         ng-repeat="item in vm.forwarddarlehen track by $index">
                        <span class="b-request__title">Forwarddarlehen</span>
                        <span class="b-form__input b-form__euro b-form__input-middle">
                                <label for="loan_amount">Darlehensbetrag</label>
                                <input id="loan_amount" type="text">
                            </span>
                        <span class="b-form__input b-form__year b-form__input-middle">
                                <label for="fixed_rate">Zinsbindung</label>
                                <input id="fixed_rate" type="text">
                            </span>
                        <span class="b-form__input">
                                <label for="repayment_r">Tilgungswunsch</label>
                                <select id="repayment_r">
                                    <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                    <option value="1">2%</option>
                                    <option value="2">3%</option>
                                    <option value="4">5%</option>
                                    <option value="5">6%</option>
                                </select>
                            </span>
                        <span class="b-form__input b-form__percent b-form__input-middle">
                                <label for="unscheduled">Sondertilgung</label>
                                <input id="unscheduled" type="text">
                            </span>
                        <span class="b-form__input b-form__input-middle">
                                <label for="time">Auszahlungszeitpunkt</label>
                                <input id="time" type="text">
                            </span>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png"
                                     class="btn btn__trash btn--light"
                                     ng-click="vm.removeItem(vm.forwarddarlehen, item)">
                            </span>
                    </div>
                    <!--end-->

                    <!--zur Zinsabsicherung-->
                    <div class="b-form__block b-form__fields clearfix">
                        <div class="block-title">
                            <p class="b-request__title">Bausparvertrag</p>
                        </div>
                        <div class="b-request__sub-group">
                                <span class="b-form__input">
                                    <label for="tarif">Tarif</label>
                                    <select id="tarif">
                                        <option value="-1" selected="selected">Bitte wählen Sie ...</option>
                                        <option value="1">Automatisch</option>
                                        <option value="2">Automatisch</option>
                                        <option value="4">Automatisch</option>
                                        <option value="5">Automatisch</option>
                                    </select>
                                </span>
                            <span class="b-form__radio-label">
                                    <label for="usage">Verwendungsart</label>
                                    <span class="b-form__col b-form__inline">
                                        <span class="b-form__radio">
                                            <input name="free" id="frei" type="radio">
                                            <label for="frei">frei besparen</label>
                                        </span>
                                        <span class="b-form__radio">
                                            <input name="cede" id="abtreten" type="radio">
                                            <label for="abtreten">abtreten</label>
                                        </span>
                                    </span>
                                </span>
                            <span class="b-form__input small-select">
                                    <label for="building_savings">Bausparwunsch anpassen (optional)</label>
                                    <select id="building_savings">
                                        <option value="-1" selected="selected">Automatischer Vorschlag</option>
                                        <option value="1">Bausparsumme in €</option>
                                        <option value="2">Bausparsumme in % des Darlehensbetrag</option>
                                        <option value="3">Sparrate in €</option>
                                        <option value="4">Sparrate in ‰ der Bausparsumme</option>
                                        <option value="5">Tilgungsrate in €</option>
                                        <option value="6">Zuteilungszeitpunkt</option>
                                    </select>
                                </span>
                            <span class="b-form__radio-label">
                                    <label for="acquisition">Abschlussgebühr</label>
                                    <span class="b-form__col b-form__inline">
                                        <span class="b-form__radio">
                                            <input name="immediate_payment" id="sofortzahlung" type="radio">
                                            <label for="sofortzahlung">Sofortzahlung</label>
                                        </span>
                                        <span class="b-form__radio">
                                            <input name="billing" id="verrechnung" type="radio">
                                            <label for="verrechnung">Verrechnung</label>
                                        </span>
                                    </span>
                                </span>
                            <span class="b-form__input b-form__euro b-form__input-middle">
                                    <label for="loan_amount">Darlehensbetrag</label>
                                    <input id="loan_amount" type="text">
                                </span>
                            <span class="b-form__input small-select">
                                    <label for="building_savings">Vertragspartner</label>
                                    <select id="building_savings">
                                        <option value="-1" selected="selected">Antragsteller 1</option>
                                        <option value="1">Antragsteller 2</option>
                                        <option value="2">beide Antragsteller</option>
                                    </select>
                                </span>
                        </div>
                        <span class="b-form__input b-buy__option">
                                <label for="date">&nbsp;</label>
                                <img src="content/images/icons/trash_basket.png" class="btn btn__trash btn--light">
                            </span>
                    </div>
                    <!--end-->
                </div>
                <div class="b-form__title-light b-form__title">Zusatzangaben</div>
            </div>
        </div>
        <div class="b-tabs">
            <ul class="b-tabs__titles clearfix">
                <li class="b-tabs__titles-item b-tabs__titles-item--current b-tabs__mail"><span>ERGEBNISSE</span></li>
                <li class="b-tabs__custom-item b-tabs__custom-item--left">
                    <button class="btn btn--light">Finanzierungsvorschläge aushändigen</button>
                </li>
                <li class="b-tabs__custom-item b-tabs__custom-item--right">
                    <button class="btn btn__dark btn--img"><img src="content/images/icons/loader.png" alt="load">Aktualisieren
                    </button>
                </li>
            </ul>
            <div class="b-tabs__container">
                <span style="padding-left: 150px;">Bitte aktualisieren Sie die Ergebnisse.</span>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="b-footer">
        <div class="container">
            <ul class="b-footer__nav clearfix">
                <li class="b-footer__nav-item b-footer__nav-bell">Ereignisse</li>
                <li class="b-footer__nav-item b-footer__nav-doc">Dokumente</li>
                <li class="b-footer__nav-item b-footer__nav-check">Checkliste</li>
                <li class="b-footer__nav-item b-footer__nav-user">Vorgang: 281883</li>
            </ul>
        </div>
    </div>
    <div class="b-copy-right container text-right">
        &copy; Hypoport 2017
    </div>
</footer>